# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
*.venv

# Distribution / packaging
.Python
dist/
build/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
db.sqlite3

# Docker
*.container

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Other
*.bak
*.swp
*.swo
*.orig

*.png
*.pth